.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 226);
  margin-left: 20%;  
  margin-right: 20%; 
  border-radius: 8px; 
}

img {
  padding: 20px; 
}

h1 {
  text-align: center;
  background-color: rgb(156, 179, 218); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 310px; 
  margin-right: 310px; 
  border-radius: 6px; 
}

h3 {
  text-align: center;
  background-color: rgb(156, 179, 218);  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 41%;
  margin-right: 41%;
  border-radius: 6px; 
}

button {
  display: block;
  margin: auto;
  color: rgb(36, 26, 3);
  background-color: rgb(200, 187, 146);
  border-radius: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lists {
  width: 200px; 
  word-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(31, 87, 155); 
}

body {
  background-color: rgb(188, 201, 225); 
}